
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###


# Composer
composer.phar

# Cache
var/cache/dev/*
var/cache/prod/*

# .env file
.env

# Binários
bin

# outros

.vscode/
.DS_Store
.build
.on-save.json
reflex
*.swp